/* fonts */

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
	font-weight: lighter;
	font-style: italic;
}

body {
	background-color: #1F2937;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

main {
	margin-top: 60px;
}

footer {
	color: #fff;
	font-size: 14px;
	margin: 2% auto 2%;
	text-align: center;
}

h1 {
	font-size: 48px;
}

/* h2 {
	margin-top: 50px;
} */

a {
	border-left: 2px solid #E5E7EB;
	color: #E5E7EB;
	font-size: 18px;
	text-decoration: none;
	padding: 17px;
	width: 30%;
}

a:last-child {
	border-right: 2px solid #1F2937;
}

a:hover {
	background-color: #E5E7EB;
	color: #1F2937;
}

.pics img {
	height: 20%;
	width: 20%;
}

/***** NAV *****/

nav {
	background-color: #1F2937;
	border-bottom: 1px solid #E5E7EB;
	display: flex;
	justify-content: space-around;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-left {
	text-align: center;
	width: 40%;
}

.nav-left img {
	height: 100%;
}

.nav-right {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 60%;
}

.personal {
	padding: 2% 15% 5%;
}

.information {
	background-color: #E5E7EB;
	color: #000;
	padding: 2% 15% 2%;
}

.pictures {
	background-color: #fff;
	color: #000;
	padding: 2% 15% 5%;
}

.guitar-pics {
	display: flex;
	justify-content: flex-start;
	gap: 40px;
	height: 300px;
	width: 100%;
}

.guitar-pics img {
	border: 2px solid #3882F6;
	border-radius: 8px;
	height: 100%;
}

.grid-container {
	background-color: grey;
	display: grid;
	grid-template-columns: 200px 250px;
}

.grid-item {
	background-color: blue;
	border: 1px solid #fff;
}

.grid-item img {

}
