/* fonts */

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
	font-weight: thin;
	font-style: italic;
}

/* selectors */

body {
	background-color: #1F2937;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	margin: 0;
}

h2 {
	margin: 0;
}

button {
	background-color: #3882F6;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	height: 30px;
	width: 100px;
}

/* NAV */

.nav-main {
	display: flex;
	justify-content: space-around;
	height: 60px;
	border-bottom: 1px solid #E5E7EB;
}

.nav-left {
	text-align: center;
	width: 40%;
}

.nav-left img {
	height: 100%;
}

.nav-right {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	text-align: center;
	width: 60%;
}

.nav-a {
	height: 100%;
	width: 33%;
}

.nav-right a {
	color: #E5E7EB;
	font-size: 18px;
	text-decoration: none;
	height: 100%;
	width: 33%;
}

.nav-right a:hover {
	background-color: #E5E7EB;
	color: #1F2937;
}

/* main */

#welcome {
	display: flex;
	justify-content: center;
	padding: 10% 15%;
}

#welcome div {
	/* min-height: 250px; */
	width: 45%;
	overflow: hidden;
}

#welcome h1 {
	color: #F9FAF8;
	font-size: 48px;
	font-weight: bold;
	margin: 0;
}

#welcome p {
	color: #E5E7EB;
	font-size: 18px;
}

#welcome img {
	/* transform: translate(0, -50px); */
	width: 100%;
}

@media screen only (min-width: 1440px) {
	#welcome img {
			transform: translate(0, -50px);
	}
}

#showcase {
	background-color: #fff;
	padding: 5% 10%;
	text-align: center;
}

#showcase h2 {
	color: #1F2937;
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 30px;
}

#showcase .wrapper {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.showcase-img {
	border: 2px solid #3882F6;
	border-radius: 10%;
	height: 100px;
	width: 100px;
}

.showcase-img img {
	border-radius: 8%;
	object-fit: cover;
	height: 100px;
	width: 100px;
}

#showcase .showcase-img:hover {
	transform: scale(1.5);
}

#testimonials {
	background-color: #E5E7EB;
	padding: 7% 30%;
}

#testimonials p {
	margin: 0;
}

.quote {
	color: #1F2937;
	font-weight: thin;
	font-style: italic;
	font-size: 20px;
}

.author {
	float: right;
}

#cta {
	background-color: #fff;
	padding: 5% 18%;
}

.cta-wrapper {
	background-color: #3882F6;
	border-radius: 5px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3% 10%;
}

.cta-text p {
	margin: 0;
}

#cta button {
	border: 2px solid #fff;
}

footer {
	color: #fff;
	font-size: 14px;
	margin: 2% 0;
	text-align: center;
}
