/* fonts */

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
	font-weight: lighter;
	font-style: italic;
}

/* selectors */

body {
	background-color: #1F2937;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	margin: 0;
}


h1 {
	color: #F9FAF8;
	font-size: 48px;
}

h2 {
	color: #1F2937;
	font-size: 36px;
	margin: 0 auto 30px;
}

h3 {
	color: #fff;
	font-size: 1.5rem;
}

a {
	border-left: 1px solid #E5E7EB;
	color: #E5E7EB;
	font-size: 18px;
	text-decoration: none;
	padding: 17px;
	width: 30%;
}

a:last-child {
	border-right: 3px solid #1F2937;
}

a:hover {
	background-color: #E5E7EB;
	color: #1F2937;
}

button {
	background-color: #3882F6;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	min-height: 28px;
	height: contain;
	width: 100px;
}

footer {
	color: #fff;
	font-size: 14px;
	margin: 2% 0;
	text-align: center;
}

.m0 {
	margin: 0;
}

/***** NAV *****/

.nav-main {
	display: flex;
	justify-content: space-around;
	height: 60px;
	border-bottom: 1px solid #E5E7EB;
}

.nav-left {
	text-align: center;
	width: 40%;
}

.nav-left img {
	height: 100%;
}

.nav-right {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 60%;
}

/***** Main *****/

#welcome {
	display: flex;
	justify-content: space-between;
	padding: 8% 15%;
}

#welcome div {
	height: 280px;
	width: 48%;
	overflow: hidden;
}

#welcome p {
	color: #E5E7EB;
	font-size: 18px;
}

#welcome img {
	width: 100%;
}

@media only screen and (min-width: 1200px) {
	#welcome img {
			transform: translate(0, -50px);
	}
}

#showcase {
	background-color: #fff;
	padding: 5% 10%;
	text-align: center;
}

.flex-wrap {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.showcase-pair {
	display: flex;
	flex-direction: column;
	height: 120px;
	width: 120px;
}

.showcase-img {
	border: 2px solid #3882F6;
	border-radius: 10%;
	height: inherit;
	width: inherit;
	transition-duration: 500ms;
	transform: scale(1);
}

.showcase-text {
}

.showcase-img:hover {
	transform: scale(1.4);
	transition-duration: 500ms;
}

.showcase-pair img {
	border-radius: 8%;
	object-fit: cover; /* maintain aspect ratio and fill box */
	height: inherit;
	width: inherit;
}

.showcase-text {
	font-weight: normal;
	font-size: 5px;
}

#testimonials {
	background-color: #E5E7EB;
	padding: 5% 30%;
}

.quote {
	color: #1F2937;
	text-align: center;
	font-weight: lighter;
	font-style: italic;
	font-size: 20px;
}

.author {
	margin-top: 5px;
	text-align: right;
}

#cta {
	background-color: #fff;
	padding: 5% 20%;
}

.cta-wrapper {
	background-color: #3882F6;
	border-radius: 8px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3% 10%;
}

#cta button {
	border: 2px solid #fff;
}
